img{
    height: 30vw;
    margin-left: 5vw;
    /* margin-top: 3vw; */
}

/* .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -3vw;
} */
.list{
     /* margin-left: 30vw; */
    font-size: 1.3vw;
    margin-right: 2vw;
    max-width: 50vw;
    color: black;
}

.pd{
    display: flex;
    justify-content: center;
    font-size: 4vw;
}

.buying-options > a{
    text-decoration: underline;
    color: grey;
}

.buying-options {
display: flex;
flex-direction: row;
justify-content: space-around;
font-size: 2.5vw;

}

/* .allto{
    background-color: white;
    color: black;
} */

.info-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -3vw;
}

.all12>button{
    width: 6vw;
    height: 6vw;
    margin-top: 30vw;
    /* margin-left: -40vw; */
}

.original{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.all12{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 428px){
    .pd{
        font-size: 50px;
    }
    .all12{
        flex-direction: column;
        margin-left: 50px;
    }
    .all12 > img{
        height: 50vw;
        width: 70vw;
    }
    .button01{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 40px;
        /* width: 30px; */
        height: 30px;
    }
    .list{
        /* margin-left: 30vw; */
       font-size: 2.5vw;
       /* margin-right: 2vw; */
       max-width: 50vw;
       color: black;
       margin-top: 4vw;
       margin-left: 7vw;
       font-weight: bold;
   }
   .buying-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.5vw;
margin-top: -20px;
    
    }
    .original > img{
        width: 70vw;
        margin-top: -20vw;
        height: 70vw;
    }

   
}